@import 'styles/variables';
@import 'styles/functions';

.container {
  margin: rem(16px) 0;
}

.input {
  height: rem(40px);
}

.label,
.labelSuffix {
  display: block;
  font-size: $font-size-extra-small;
  font-weight: $font-weight-bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 1.5;
  margin: rem(4px) rem(8px);
}
.label {
  text-align: left;
  color: $basic-text-700;
}

.labelSuffix {
  text-align: right;
  color: $basic-text-900;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}