@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/functions';

.controlItem {
  @include buttonTransparent();
  width: rem(56px);
  height: rem(72px);
  justify-content: center;
  margin: 0 rem(8px);
  padding: 0;

  #{&}Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(48px);
    height: rem(48px);
    border-radius: $default-radius;
    background-color: $basic-light-200;
    margin: 0 auto;
  }

  #{&}Text {
    display: block;
    width: 100%;
    text-align: center;
    color: $basic-text-900;
    font-size: $font-size-small;
    line-height: 1.625;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}