@import 'styles/variables';
@import 'styles/functions';

.formItem {
  :global {
    .ant-form-item-explain, .ant-form-item-extra {
      margin: 0.125rem 0.5rem 0;
      font-size: $font-size-small;
    }
  }

  .inputContainer {
    margin: 0;
  }
}

:global(.ant-form-vertical .ant-form-item-label > label) {
  display: block;
}

:global(.ant-form-item-explain) {
  text-align: left;
}